.heart {
    background: url(https://harmoniaphilosophica.files.wordpress.com/2015/08/0e3df60cabeec611be2872b82db57458.jpg) 50% no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin: 20px;
}


.main-heading,.main-heading-small {
    font-family: 'Saira', sans-serif;
    color: #dd61a4;
    font-size: 50px;
    font-weight: 600;

}
.main-heading-small {
    font-size: 30px;
    font-weight: 100;
}

.homeView, .loginView, .registerView {
    text-align: center;
    align-content: center;
}

input, textarea {
    border:#dd61a4 solid 1px;
    border-radius: 5px;
    padding: 3px;
    color: #000;
    font-family: 'Saira', sans-serif;
}

textarea {
   width: 270px;
    height: 105px;
}

input:focus , textarea:focus{
    outline: none;
}