.navigation-list {
    list-style: none;
    color:#6f2d89;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 0;
}

.navigation-element {
    color:#6f2d89;
    display: inline-block;
    padding:20px;
    font-size: 18px;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    width: 12%;
    opacity: 0.6;
    cursor: pointer;
    border-bottom:#D3D3D3 1px solid;

}

.navigation-element:hover{
    opacity: 1;
}

.home-button{
    font-size: 20px;
    opacity: 0.8;
}

.additional-nav {
    display: inline-block;
}