body {
    font-family: 'Saira', sans-serif;
}
.profile-photo {
    border: solid black 2px;
    height: inherit;
    width: 50%;
    display: inline-block;
}

.profile-info {
    border: solid black 2px;
    height: inherit;
    width: 50%;
    display: inline-block;
}

.msg-label {
    color: #FF9494;
}

.error {
    color: #FF9494;
    margin: 100px;
    font-size: 20px;
}

.message-error {
    color: #FF9494;
}

.panel-management {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #dd61a4;
}

.btn-back {
    background: #dd61a4;
    border-radius: 6px;
    float: right;
    font-family: 'Saira', sans-serif;
    color: white;
}

.profile-text {
    width: 500px;
    height: 50px;
}

.no-access-box {
    width: 20%;
    margin: auto;
    text-align: center;
}

.no-access-info {
    margin-top: 100px;
    color: #FF9494;

}

.register-form {
    display: inline-block;
    text-align: left;
    width: 25%;
    margin-bottom: 20px;
}

#register-box {
    display: none;
}

.profile-row {
    padding-bottom: 10px;

}

.profile-col {
    padding:10px;
    border:solid #000 1px;
}

.inbox-table {
    width:100%;

}

.inbox-row {
    width: 100%;
}

.inbox-col{
    padding:10px;
    border:red solid 1px;
    text-align: left;
}


.inbox-col.from {
    width: 20%;
    font-size: 13px;
    text-align: left;
}

.inbox-col.msg {
    cursor: pointer;
    margin-left:0;
    color:#000;
    font-size: 10px;
}

Table thead tr th {

}

Table tbody tr th {
    font-size: 10px;
}

.from-col {
    width: 20%;
    font-size:15px;
}

.short-message {
    cursor: pointer;
}

.full-message {
}
.full-message-from {
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 0;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    padding-right: 20px;
}

.full-message-content {
    border:solid #D3D3D3 1px;
    font-size: 16px;
    border-radius: 5px;
    padding:15px;
    display: inline-block;

}

Button {
    margin:10px;
}
.user-photo{
    border:solid red 1px;
    border-radius: 100%;
    background-color: green;
    width: 25px;
    height: 25px;
}

select {
    outline: none;
    border:#dd61a4 solid 1px;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Saira', sans-serif;
}

#active {
    color:red;
}

